<!-- #extension "jsp" -->
<!-- #include "prefix/jsp" -->
<!-- #include "layout/header" -->


<!-- Header -->
<header id="header">
    <!-- #include "page/tictactoe/header" -->
</header>

<!-- Game -->
<div id="game">
    <!-- #include "page/tictactoe/game" -->
</div>

<!-- Main -->
<div id="main">
    <!-- #include "page/tictactoe/article/sign_in" -->
    <!-- #include "page/tictactoe/article/sign_up" -->
    <!-- #include "page/tictactoe/article/user_lost" -->
    <!-- #include "page/tictactoe/article/new_game" -->
    <!-- #include "page/tictactoe/article/join_game" -->
    <!-- #include "page/tictactoe/article/my_page" -->
    <!-- #include "page/tictactoe/article/ranking" -->
</div>

<!-- #include "layout/footer" -->