<!-- #extension "jsp" -->
<!-- #include "prefix/jsp" -->
<!-- #include "layout/header" -->


<!-- Header -->
<header id="header">
    <div class="logo">
        <span class="icon fa-dice-d6"></span>
    </div>
    <div class="content">
        <div class="inner">
            <h1>TICTACTOE</h1>
        </div>
    </div>
    <nav v-if="isShowMenu">
        <ul>
            <li v-if="isLoggedIn"><a href="#new_game">새 게임</a></li>
            <li v-if="isLoggedIn"><a href="#join_game">게임 참가</a></li>
            <li v-if="isLoggedIn"><a href="#my_page">마이 페이지</a></li>
            <li v-if="isLoggedIn"><a href="#list_rank">랭킹</a></li>
            <li v-if="!isLoggedIn"><a href="#sign_in">로그인</a></li>
            <li v-if="!isLoggedIn"><a href="#sign_up">회원가입</a></li>
            <li v-if="!isLoggedIn"><a href="#user_lost">계정찾기</a></li>
        </ul>
    </nav>
</header>

<!-- Game -->
<div id="game">
    <div v-if="isShowGame">
        <table>
            <tr v-for="row in board">
                <td v-for="cell in row" @click="onClickCell">{{ cell }}</td>
            </tr>
        </table>
        <div class="text-center">
            <button class="button primary small" @click="onClickQuit">나가기</button>
        </div>
    </div>
</div>

<!-- Main -->
<div id="main">
    <article id="sign_in">
        <h2 class="major">로그인</h2>
        <form>
            <div class="fields">
                <div class="field half">
                    <label for="userId">아이디</label>
                    <input type="text" id="userId" value="" placeholder="아이디" />
                </div>
                <div class="field half">
                    <label for="userPw">패스워드</label>
                    <input type="password" id="userPw" value="" placeholder="패스워드" />
                </div>
            </div>
            <ul class="actions">
                <li><button type="button" class="primary">로그인</button></li>
            </ul>
        </form>
    </article>

    <article id="sign_up">
        <h2 class="major">회원가입</h2>
        <form method="post" action="#">
            <div class="fields">
                <div class="field half">
                    <label for="userId">아이디</label>
                    <input type="text" id="userId" value="" placeholder="아이디" />
                </div>
                <div class="field half">
                    <label for="email">이메일</label>
                    <input type="email" id="email" value="" placeholder="이메일" />
                </div>
                <div class="field half">
                    <label for="userPw">패스워드</label>
                    <input type="password" id="userPw" value="" placeholder="패스워드" />
                </div>
                <div class="field half">
                    <label for="userPwRe">패스워드 재입력</label>
                    <input type="password" id="userPwRe" value="" placeholder="패스워드 재입력" />
                </div>
            </div>
            <ul class="actions">
                <li><button type="button" class="primary">회원가입</button></li>
            </ul>
        </form>
    </article>

    <article id="user_lost">
        <h2 class="major">계정찾기</h2>
        <form method="post" action="#">
            <div class="fields">
                <div class="field half">
                    <input type="radio" id="find_id" name="find_mode" checked>
                    <label for="find_id">아이디 찾기</label>
                </div>
                <div class="field half">
                    <input type="radio" id="find_pw" name="find_mode">
                    <label for="find_pw">패스워드 찾기</label>
                </div>
                <div class="field half">
                    <label for="email">이메일</label>
                    <input type="email" id="email" value="" placeholder="이메일" />
                </div>
                <div class="field half">
                    <label for="verifyNo">인증번호</label>
                    <input type="email" id="verifyNo" value="" placeholder="인증번호" />
                </div>
                <div class="field half">
                    <label for="userPw">패스워드</label>
                    <input type="password" id="userPw" value="" placeholder="패스워드" />
                </div>
                <div class="field half">
                    <label for="userPwRe">패스워드 재입력</label>
                    <input type="email" id="userPwRe" value="" placeholder="패스워드 재입력" />
                </div>
            </div>
            <ul class="actions">
                <li><button type="button">이메일 발송</button></li>
                <li><button type="button">인증번호 확인</button></li>
                <li><button type="button" class="primary">확인</button></li>
            </ul>
        </form>
    </article>

    <article id="new_game">
        <h2 class="major">새 게임</h2>
        <form>
            <div class="fields">
                <div class="field">
                    <label for="game_room_name">제목</label>
                    <input type="text" id="game_room_name" value="" placeholder="제목" />
                </div>
            </div>
            <ul class="actions">
                <li><button type="button" class="primary" @click="clickTest">만들기</button></li>
            </ul>
        </form>
    </article>

    <article id="join_game">
        <h2 class="major">게임 참가</h2>
        <div class="table-wrapper">
            <table class="alt">
                <thead>
                    <tr>
                        <th>플레이어</th>
                        <th>상태</th>
                        <th>보드</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="row in [{}]">
                        <td>
                            <div class="text-center">
                                <b>O</b><br>
                                #player
                            </div>
                            <br>
                            <div class="text-center">
                                <b>X</b><br>
                                #player
                            </div>
                        </td>
                        <td>#status</td>
                        <td>
                            <table style="margin-bottom:0px;">
                                <tr>
                                    <td>O</td>
                                    <td>O</td>
                                    <td>O</td>
                                </tr>
                                <tr>
                                    <td>O</td>
                                    <td>O</td>
                                    <td>O</td>
                                </tr>
                                <tr>
                                    <td>O</td>
                                    <td>O</td>
                                    <td>O</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>        
    </article>

    <article id="my_page">
        <h2 class="major">마이 페이지</h2>
        <form>
            <div class="fields">
                <div class="field half">
                    <label for="demo-name">사용자명</label>
                    <span>#player</span>
                </div>
                <div class="field half">
                    <label for="demo-email">전적</label>
                    <span>0전 0승 0패 0무 (9999위)</span>
                </div>
            </div>
            <ul class="actions">
                <li><button type="button" class="small">닉네임 변경</button></li>
                <li><button type="button" class="small">패스워드 변경</button></li>
            </ul>
        </form>
    </article>

    <article id="list_rank">
        <h2 class="major">랭킹</h2>
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>순위</th>
                        <th>플레이어</th>
                        <th>전적</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Item One</td>
                        <td>Ante turpis integer aliquet porttitor.</td>
                        <td>29.99</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </article>

</div>

<!-- #include "layout/footer" -->