<article id="join_game">
    <h2 class="major">게임 참가</h2>
    <div class="table-wrapper">
        <table class="alt">
            <thead>
                <tr>
                    <th>플레이어</th>
                    <th>상태</th>
                    <th>보드</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="game in refList">
                    <td>
                        <div class="text-center">
                            <b>O</b><br>
                            {{ game.ownerId }}
                        </div>
                        <br>
                        <div class="text-center" v-if="game.chngrId != null">
                            <b>X</b><br>
                            {{ game.chngrId }}
                        </div>
                    </td>
                    <td>
                        <div class="text-center">
                            {{ game.status }}
                        </div>
                        <div class="text-center" style="margin-top:30px;" v-if="game.status == 'W'">
                            <button type="button" @click="onClickJoin(game)">참여</button>
                        </div>
                    </td>
                    <td>
                        <table style="margin-bottom:0px;">
                            <tr>
                                <td>{{ game.board[0] != '.' ? game.board[0] : '.' }}</td>
                                <td>{{ game.board[1] != '.' ? game.board[1] : '.' }}</td>
                                <td>{{ game.board[2] != '.' ? game.board[2] : '.' }}</td>
                            </tr>
                            <tr>
                                <td>{{ game.board[3] != '.' ? game.board[3] : '.' }}</td>
                                <td>{{ game.board[4] != '.' ? game.board[4] : '.' }}</td>
                                <td>{{ game.board[5] != '.' ? game.board[5] : '.' }}</td>
                            </tr>
                            <tr>
                                <td>{{ game.board[6] != '.' ? game.board[6] : '.' }}</td>
                                <td>{{ game.board[7] != '.' ? game.board[7] : '.' }}</td>
                                <td>{{ game.board[8] != '.' ? game.board[8] : '.' }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="button" class="hidden onShowClick" @click="onRefresh">refresh</button>
</article>
