<article id="my_page">
    <h2 class="major">마이 페이지</h2>
    <form>
        <div class="fields">
            <div class="field half">
                <label for="demo-name">사용자명</label>
                <span v-if="refUserInfo != null">{{ refUserInfo.nickname }}</span>
            </div>
            <div class="field half">
                <label for="demo-email">전적</label>
                <span v-if="refUserInfo != null">
                    {{ refUserInfo.total }}전
                    {{ refUserInfo.wins }}승
                    {{ refUserInfo.losses }}패
                    {{ refUserInfo.draws }}무
                </span>
            </div>
        </div>
        <ul class="actions">
            <li><button type="button" class="small" @click="onClickChangeName">닉네임 변경</button></li>
            <li><button type="button" class="small" @click="onClickChangeUserPw">패스워드 변경</button></li>
            <li><button type="button" class="small" @click="onClickLogout">로그아웃</button></li>
        </ul>
    </form>
    <button type="button" class="hidden onShowClick" @click="onRefresh">refresh</button>
</article>
