<article id="sign_in">
    <h2 class="major">로그인</h2>
    <form ref="signInForm">
        <div class="fields">
            <div class="field half">
                <label>아이디</label>
                <input type="text" v-model="userId">
            </div>
            <div class="field half">
                <label>패스워드</label>
                <input type="password" v-model="userPw">
            </div>
        </div>
        <ul class="actions">
            <li><button type="button" class="primary" @click="onClickLogin">로그인</button></li>
        </ul>
    </form>
</article>
